<ion-header>
  <ion-navbar color="secondary">
    <ion-title class="title">
      <h5>Login</h5>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
    <ion-row>
      <ion-col>
        <ion-list>
          <h3 class="greeting">Welcome to Challan App</h3>
          <p>Hey Sargent! Enter your CNIC to Login</p>

          <ion-item>
            <ion-label style="color: black" floating>
              <ion-icon name="card" class="label"></ion-icon>
              <span>CNIC</span>
            </ion-label>

            <ion-input type="text" formControlName="cnic" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label style="color: black" floating>
              <ion-icon name="lock" class="label"></ion-icon>
              <span> Password</span>
            </ion-label>
            <ion-input type="{{type}}" formControlName="password" ></ion-input>
            <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()">
              <ion-icon name="eye"></ion-icon>
            </button>
            <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()">
              <ion-icon name="eye"></ion-icon>
            </button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button class="margintop1" [disabled]="!loginForm.controls.password.valid" type="submit" ion-button block color="dark">SignIn</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>