page-login {
    h5{
        font-family: "Roboto" ;
        text-transform: uppercase;
        position: absolute;
        top: -25px;
        right: 25px;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
            }
    h3{
        font-family: "poppinsreg";
        font-size: 25px;
        color: black;
        font-weight: 600;
    }
    p{
        font-family: "worksans";
        font-size: 15px;
        color: rgb(46, 35, 35);    
    }
    .margintop1{
        font-size: 18px;
        font-family: "PT-sans";
        margin-top: 60px;
        }
    .title{
        
    }

    ion-label{
        font-family: "poppinsreg";
        font-weight: 200;
    }
    
    span{
        padding: 10px;
    }
    .label{
        color:maroon;
    }
    $font-family-base: "Roboto";
    $font-family-base: "PT-sans";
    $font-family-base: "poppinsreg";
}
