page-challans {
    h5{
        font-family: "Roboto" ;
        text-transform: uppercase;
        position: absolute;
        top: -25px;
        right: 25px;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
            }
    .challanhead{
        background-color: color($colors ,dark);
        color: white;
    }
    

    ion-card {
        width: 300px !important;
        display: inline-block;
        font-family: "poppinsreg"
    }
    ion-card-header{
        font-family: "poppins";
        white-space: normal;
    }
    
    $font-family-base: "poppins";
    $font-family-base: "poppinsreg";
    $font-family-base: "PT-sans";
    $font-family-base: "Roboto";
}
