page-profile {

    h5{
        font-family: "Roboto" ;
        text-transform: uppercase;
        position: absolute;
        top: -25px;
        right: 30px;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
            }
 
    
.challanhead{
    background-color: color($colors ,light);
    
}
.challanhead h2 {
    color: maroon;
}
.challanButton{
}
.addNewChallan{
    margin-top: 10px;
}
.addCirlce{
    color: white;
    padding: 10px;
    
}
.arrowForward{
    margin-left: 120px;
    color: maroon;

}
ion-card-header{
    align-content: center;
}
.ionlistheader{
    color: maroon;
}
ion-content{
    font-family: "poppins"
}
$font-family-base: "poppins";
$font-family-base: "PT-sans";
$font-family-base: "Roboto";

}
