
$font-path: "../assets/fonts";

$app-direction: ltr;


@import "ionic.globals";

$colors: (
  primary:     #03A4F3,
  secondary:  #800000,
  danger:     #0E3A92,
  light:      #f4f4f4,
  dark:       #222,
  energy:     #f2b632
);

@import "ionic.theme.default";

@import "ionic.ionicons";

@import "noto-sans";

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/lobster/Lobster-Regular.ttf');
}

@font-face {
  font-family: 'Lobster';
  font-style: semi-bold;
  font-weight: 600;
  src: url('../assets/fonts/lobster/Lobster-Regular.ttf');
}

@font-face {
  font-family: 'Lobster';
  font-style: bold;
  font-weight: 700;
  src: url('../assets/fonts/lobster/Lobster-Regular.ttf');
}

@font-face {
  font-family: 'Lobster';
  font-style: extra-bold;
  font-weight: 900;
  src: url('../assets/fonts/lobster/Lobster-Regular.ttf');
}

@font-face{
  font-family: 'Roboto';
  font-style:   bold;
  font-weight: 700;
  src: url('../assets/fonts/roboto/Roboto-Bold.ttf');
}
@font-face{
  font-family: 'PT-sans';
  font-style:   bold;
  font-weight: 700;
  src: url('../assets/fonts/PT_Sans/PT_Sans-Web-Bold.ttf');
}
@font-face{
  font-family: 'PT-sans reg';
  font-style:   bold;
  font-weight: 700;
  src: url('../assets/fonts/PT_Sans/PT_Sans-Web-Regular.ttf');
}
@font-face{
  font-family: 'poppins';
  font-style:   bold;
  font-weight: 600;
  src: url('../assets/fonts/Poppins/Poppins-SemiBold.ttf');
}
@font-face{
  font-family: 'worksans';
  font-style:   bold;
  font-weight: 400;
  src: url('../assets/fonts/worksans/WorkSans-Regular.ttf');
}
@font-face{
  font-family: 'poppinsreg';
  font-style:   bold;
  font-weight: 400;
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
}