$font-family-base: "Lobster";

 .title{
   text-align: center;
   }

  .spann{
    padding: 50px;
    font-family: "Robotolight";
    font-size: 21px;
  }
  $font-family-base: "Robotolight";

.alert-md .alert-radio-label,
.alert-ios .alert-radio-label
{
white-space: normal !important;
}
