page-welcome {    
    h1{

        text-align: center;
        font-family: "poppins" !important;
        font-weight: 400 !important;
        color: white;
        font-size: 50px;
        text-transform: uppercase;
    }
    h6{
        color: salmon;
        text-align: center;
        font-size: 21px;
        font-family: "worksans";
    }
    .margintop{
        
        font-family: "PT-sans";
        position: absolute;
        top: 520px;
        font-size: 18px;
    }
    ion-content{
        background-image: url("../assets/imgs/police.jpg");
        background-position: center;
        
 
    }
    .main-heading{
    
    }
    $font-family-base: "Lobster";
    $font-family-base: "PT-sans";
    $font-family-base: "poppins";
    $font-family-base: "worksans";


}